/* Apps */
.apps {
        display: flex;
        flex-direction: column;
        flex: auto;
        padding: 2px 5px;
}

.apps .search-input {
        margin: 5px 5px 5px 5px;
        font-size: 1em;
}

.apps table {
        width: 100%;
        border-collapse: collapse;
}

.apps .app-line-title,
.apps .app-line {
        margin: 0px 5px -1px 5px;
}

.apps .app-line-title {
        font-weight: bold;
}

.apps th {
        background: linear-gradient(to right, var(--background-title), #1a1a1a);
}

.apps td {
        background: linear-gradient(to right, var(--background), #404349);
}

.apps tr:hover td {
        background: linear-gradient(to right, gray, #a0a0a0);
}

.apps th,
.apps td {
        padding: 2px 5px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        border: 1px solid rgba(255, 255, 255, 0.1);
}
