.global-variables {
        padding: 15px;
}

.global-variables .add-panel {
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
        align-items: flex-end;
}

.global-variables table {
        width: 100%;
        border-collapse: collapse;
}


.global-variables .global-variable-line-title,
.global-variables .global-variable-line {
        margin: 0px 5px -1px 5px;
}

.global-variables .global-variable-line-title {
        font-weight: bold;
}

.global-variables th {
        background: linear-gradient(to right, var(--background-title), #1a1a1a);
}

.global-variables td {
        background: linear-gradient(to right, var(--background), #404349);
}

.global-variables tr:hover td {
        background: linear-gradient(to right, gray, #a0a0a0);
}

.global-variables th,
.global-variables td {
        padding: 2px 5px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        border: 1px solid rgba(255, 255, 255, 0.1);
}

.global-variables .cell-content {
        display: flex;
        flex-direction: row;
}

.global-variables .cell-content .env-value {
        flex: auto;
}

.global-variables .cell-content input {
        flex: auto;
}

.global-variables .cell-content .env-action {
        flex: 0;
        padding: 2px 5px;
        text-align: center;
}

.global-variables .delete-col {
        width: 1%;
        white-space: nowrap;
}
