.global-variables {
        padding: 15px;
}

.global-variables .add-panel {
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
        align-items: flex-end;
}

.global-variables table {
        width: 100%;
        border-collapse: collapse;
}

.global-variables .global-variable-line-title {
        margin: 0px 5px -1px 5px;
        background-color: #000000;
        font-weight: bold;
}

.global-variables .global-variable-line:hover {
        background-color: gray;
}

.global-variables th,
.global-variables td {
        padding: 2px 5px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
}

.global-variables .cell-content {
        display: flex;
        flex-direction: row;
}

.global-variables .cell-content .env-value {
        flex: auto;
}

.global-variables .cell-content input {
        flex: auto;
}

.global-variables .cell-content .env-action {
        flex: 0;
        padding: 2px 5px;
        text-align: center;
}

.global-variables .delete-col {
        width: 1%;
        white-space: nowrap;
}
