.global-variables {
	display: flex;
}

.variables-list {
	display: block;
	direction: rtl;
	flex: 4;
	padding: 15px;
	max-height: 1100px;
	overflow-y: scroll;
}

.variables-list .global-variable-item  {
	direction: ltr;
	padding: 5px 15px;
	border-radius: 5px;
	border: none;
}

.variables-list .global-variable-item.selected  {
	direction: rtl;
	color: red;
	background-color: rgb(128, 64, 64);
}

.variables-list .global-variable-item:hover  {
	direction: rtl;
	background-color: var(--background-form-hover);
	color: var(--font-form-hover);
}

.edit-panel {
	flex: 6;
	height: 100%;
	padding: 15px;
}
.edit-panel button {
	background-color: var(--background-title-ko);
	color: var(--font-ko);
	width: fit-content;
	margin: auto;
	margin-right: 0px;
}