

/* Profil */
.profil {
	display: flex;
	flex: auto;
	flex-direction: column;
	padding: 15px;
}
.profil .profil-data, .profil .profil-title {
	display: flex;
	flex-direction: row;
	font-weight: bold;
}
.profil .profil-title {
	font-size: 1em;
	margin: 0px 0px 20px 0px;
}
.profil .profil-title-rights {
	margin-top: 20px;
	margin-bottom: 0px;
}
.profil .profil-title .label, .profil .profil-data .label {
	flex: 1;
}
.profil .profil-title .value, .profil .profil-data .value {
	flex: 5;
}
.profil .search-input {
	flex: auto;
	margin: 5px 5px 15px 5px;
}
.profil .user-search-input {
	flex: auto;
	margin: 5px 5px 15px 5px;
}
.profil-tab {
	display: flex;
	flex-direction: column;
}
.profil-tab .profil-tab-row {
	display: flex;
	flex: auto;
	flex-direction: row;
}
.profil-tab .profil-tab-row .profil-tab-row-title {
	flex: 1;
	text-align: center;
	font-size: 1em;
	font-weight: bold;
	border: 1px solid gray;
	background-color: black;
	padding: 3px;
}
.profil-tab .profil-tab-row .profil-tab-row-value {
	flex: 1;
	text-align: center;
	font-size: 1em;
	border: 1px solid gray;
	padding: 3px;
	margin-top: -1px;
}
.profil-tab .profil-tab-row-title .level-inactive, .profil-tab .profil-tab-row-title .level-active {
	font-size: 1em;
	margin-bottom: 5px;
}
.profil-tab .level-inactive {
	opacity: 0.2;
}
.profil-tab .level-inactive:hover {
	opacity: 0.8;
}
.profil-tab .level-inactive-waiting {
	opacity: 0.6;
	color: rgb(255, 128, 0);
}
.profil-tab .level-inactive-waiting:hover {
	opacity: 0.8;
}
.profil-tab .level-active {
	opacity: 1;
}
.admin-user {
	display: flex;
	flex-direction: column;
	flex: auto;
	font-size: 1em;
}
.admin-user-demand {
	display: flex;
	flex-direction: row;
	border: solid gray 1px;
	margin: 0px 5px -1px 5px;
	background-color: black;
	padding: 5px;
}
.admin-user-demand:hover {
	background-color: rgb(41, 41, 41);
}	
.admin-user-demand .label-user-id {
	flex: 4;
}
.admin-user-demand .label-app-id {
	flex: 3;
}
.admin-user-demand .label-env-id {
	flex: 1;
}
.admin-user-demand .label-level {
	flex: 1;
}
.admin-user-demand .action {
	flex: 1;
}
.admin-user-details {
	display: flex;
	flex-direction: column;
}
.search-user {
	display: flex;
	flex-direction: row;
}
.user-list {
	display: flex;
	flex-direction: column;
	flex: 2;
}
.user-list>span {
	padding-left: 15px;
}
.user-list>span:hover {
	background-color: rgb(41, 41, 41);
}
.user-list .user-search-input {
	margin-top: 25px;
}
.user-list .user-result {
	flex: 1;
}
.user-list .selected-user {
	font-weight: bold;
}
.user-details {
	flex: 10;
}