name: Build Dev

on:
  push:
    branches-ignore:
      - main
    tags-ignore:
      - '**'

jobs:
  build:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4
      - name: Build site
        working-directory: propertiesmanager-ui
        run: |
          npm install
          npm run build
      - name: Build backend
        run: ./build-all.sh
      - name: Deploy site
        run: |
          rm -rf /opt/props/props-dev
          mkdir -p /opt/props/props-dev
          cp -r propertiesmanager-ui/build/* /opt/props/props-dev/
      - name: Deploy API
        run: |
          mkdir -p /opt/props/props-api-dev
          cp propertiesmanager-api/target/*-runner.jar /opt/props/props-api-dev/props-api-runner.jar
          sudo systemctl restart quarkus-props-api-dev.service
