name: Build Pro

on:
  push:
    tags:
    - '*.*.*'
    - '!*.aab'
    - '!*.*.*.*'

jobs:
  build:
    runs-on: self-hosted
    steps:
    - uses: actions/checkout@v4
    - name: Build site
      working-directory: propertiesmanager-ui
      run: |
        npm install
        npm run build
    - name: Build backend
      run: ./build-all.sh
    - name: Deploy site
      run: |
        rm -rf /opt/props/props-pro
        mkdir -p /opt/props/props-pro
        cp -r propertiesmanager-ui/build/* /opt/props/props-pro/
    - name: Deploy API
      run: |
        mkdir -p /opt/props/props-api-pro
        cp propertiesmanager-api/target/*-runner.jar /opt/props/props-api-pro/props-api-runner.jar
        sudo systemctl restart quarkus-props-api-pro.service
