name: Build Rec

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: self-hosted
    steps:
    - uses: actions/checkout@v4
    - name: Build site
      working-directory: propertiesmanager-ui
      run: |
        npm install
        npm run build
    - name: Build backend
      run: ./build-all.sh
    - name: Deploy site
      run: |
        rm -rf /opt/props/props-rec
        mkdir -p /opt/props/props-rec
        cp -r propertiesmanager-ui/build/* /opt/props/props-rec/
    - name: Deploy API
      run: |
        mkdir -p /opt/props/props-api-rec
        cp propertiesmanager-api/target/*-runner.jar /opt/props/props-api-rec/props-api-runner.jar
        sudo systemctl restart quarkus-props-api-rec.service
